body{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.input{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100px;
    &__text{
        border: white 2px solid;
        color: white;
        border: 0;
        background-color: rgba(0, 0, 0, 0.712);
        font-size: 30px;
        padding-left: 20px;
        height: 70px;
        width: 80%;
        
    }
    &__button{
        cursor: pointer;
        color: white;
        font-size: 25px;
        font-family: monospace;
        border: 0;
        background-color: rgba(0, 0, 0, 0.911);
        height: 72px;
        width: 12%;
        @media screen and (max-width:576px) {
            width: 30%;
        }
    }
}
.checkbox{
    
    margin-top: 20px;
    display: flex;
    font-size: 30px;
    font-family: monospace;
    color: white;
    font-weight: bold;
    @media screen and (max-width:576px){
        flex-direction: column;
        
    }
    & label{
        transition: ease .5s all;
        margin-left: 15px;
        margin-right: 15px;
        @media screen and (max-width:576px){
         margin-top: 10px;
         margin-bottom: 10px;   
        }
    }
    & label:hover{
       
            border-radius: 50%;
            background-color: rgba(238, 238, 238, 0.199);
            cursor: pointer;
            box-shadow: rgb(238, 238, 238) 10px 10px 50px;
        
    }
}

.content-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-block{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    border: 1px rgba(0, 0, 0, 0.377) solid;
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(66, 62, 59, 0.521);
    &--active{
        display: flex;
    }

}
.content-item{
    width: 40%;
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-img{

max-width: 100%;
object-fit: contain;
}
.item-info{
    display: none;
    color: white;
    font-size: 25px;
}
.start_text{
    color: rgba(255, 255, 255, 0.534);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 34px;
    font-family: fantasy;
    letter-spacing: 3px;
    font-weight: 100;
}
.item-button{
    cursor: pointer;
    transform: scale(1,1);
    transition: ease .7s all;
    color: white;
    margin-top: 25px;
    display: block;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px rgba(255, 255, 255, 0.596) dashed;
    &:hover{
        transform: scale(1.1,1.1);
        border: 2px rgba(255, 255, 255, 0.596) solid;
    }
    &:focus{
        outline: none;
    }
}
#pages{
    margin-top: 20px;
}
.pages__button{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    transition: ease .3s all;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
   margin-right: 10px;
   margin-left: 10px;
   padding: 15px;
    color: rgb(231, 231, 231);
    &:hover{
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.39);
        box-shadow: rgb(238, 238, 238) 10px 10px 50px;
    }
   
}